*::before{
  pointer-events: none;
}

*{
    margin: 0px;
    padding: 0px;
}


a{
    text-decoration: none;
    color: rgb(255, 89, 89);
}

body{
    font-family: Bombardier;
    margin: 0px;
    padding: 0px;
}


/*Header*/
.header{
    display: inline-block;
    height: 50px;
    width: 100%;
    background: rgb(255, 89, 89);
}

.burger{
    display: inline-block;
    background: white;
    height: 50px;
}


.logo{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    bottom: 15px;
    left: 20px;
}


.logo a{
    display: inline-block;
    vertical-align: middle;
}


.navbar{
    position: relative;
    display: inline-block;
    float: right;
    right: 300px;
    top: 15px;
}


.navbar a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 50px;
}


    /* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  right: -140px;
}

.dropbtn{
    font-family: Bombardier;
    font-size: 20px;
    color: rgb(255, 89, 89);
    background: white;
    border: none;
    padding: 15px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: rgb(255, 89, 89);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover{
    background-color: #ddd;
}


.dropdown:hover .dropdown-content{
    display: block;
}


.dropdown:hover .dropbtn{
    border-bottom: 1px solid rgb(255, 89, 89);
}



    /* Menu */
.menu{
    position: absolute;
    display: block;
    height: 100%;
    width: 25%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);
    float: left;
    top: 0px;
    background: white;
    z-index: 1;
}


.menu-header{
    display: inline-block;
    height: 50px;
    width: 100%;
    background: rgb(255, 89, 89);
}


.menu-header img{
    position: relative;
}

.menu-header img:first-child{
    position: relative;
    left: 15px;
    top: 10px;
}


.menu-header img:last-child{
    position: relative;
    float: right;
    right: 10px;
    top: 5px;
}


.menu_link{
    display: flex;
    text-decoration: none;
    color: rgb(255, 89, 89);
    font-size: 30px;
    padding: 15px;
}


    /* Menu Hover */
.menu_link:hover {
    margin-left: 15px;
    transition: margin .4s;
}


.menu_link:not(:hover) {
    transition: margin .4s;
}


.burger:not(:hover) .menu{
    left: -500px;
    transition: left .4s;
}


.burger:hover .menu{
   left: 0px;
   transition: left .4s;
}
/* /Header*/


/* Notifications */
.notifications {
  position: absolute;
  display: inline-block;
  font-family: Bombardier;
  color: rgb(255, 89, 89);

  right: 600px;
  top: 0px;
}


.notifications_btn{
  display: block;
  width: 210px;
  background-color: white;
  color: rgb(255, 89, 89);
  font-size: 20px;
  border: none;
  font-family: Bombardier;
  padding-top: 10px;
  padding-bottom: 8.5px;
  cursor: pointer;
}

/* Hover */
.notifications_btn:hover .total_notif{
    position: relative;
    bottom: 5px;
    transition: bottom 0.2s;
}

.notifications_btn:not(:hover) .total_notif{
    position: relative;
    bottom: 0px;
    transition: bottom 0.2s ease;
}


.notifications_btn:hover .total_notif{
    color: white;
    background: rgb(255, 89, 89);
}
/* /Hover */


.notifications-content.hide{
    display: none;
}


.total_notif{
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 0px;
    background: rgb(255, 89, 89);
    border-radius: 100%;
    color: white;
    padding-left: 13px;
    padding-right: 13px;
}


.notifications-content{
    display: inline-block;
    position: absolute;
    width: 500px;
    background: rgb(255, 89, 89);
    z-index: 2;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
    margin-top: 10px;
}


.friend_request_notification{
    display: block;
    position: relative;
    width: 100%;
    height: 125px;
    background: white;
    margin: auto;
    margin-top: 10px;
}


.friend_request_notification:first-child{
    margin-top: 0px;
}


#receiver_avatar{
    position: relative;
    top: 12.5px;
    left:10px;
}


#title_friend_request{
    position: relative;
    display: block;
    bottom: 95px;
    left: 118.5px;
    font-size: 20px;
}


#description_friend_request{
    position: relative;
    font-size: 15px;
    left: 120px;
    bottom: 87px;
}


.friend_request_btn{
    position: relative;
    display: inline-block;
    bottom: 75px;
    left: 120px;
    text-decoration: none;
    background: rgb(255, 89, 89);
    color: white;
    padding: 5px;
}

.friend_request_btn:hover{
    background: rgb(255, 89, 89, .5);
}


.none_notif{
    color: white;
    display: block;
    position: relative;
    left: 125px;
}

#notif_content.none_content p{
    position: relative;
    color: white;
    left: 115px;
    padding: 0px;
    margin: 0px;
}

.none_notif.hide{
    display: none;
}

.friend_request_btn{
    cursor: pointer;
}
/* /Notifications */

/* Popup notifications */
.popup_notif{
    position: fixed;
    background: rgb(255, 89, 89);
    padding: 25px;
    right: 50px;
    top: 90%;
    color: white;
    font-size: 18px;
    right: 300px;
    transition-property: right;
    transition-duration: 1s;

}

.cross {cursor: pointer; position: absolute; top: 15px; right: 30px;}
.cross:before, .cross:after {content: ""; position: absolute; width: 20px; height: 2px; background: white;}
.cross:before {transform: rotate(45deg);}
.cross:after {transform: rotate(-45deg);}

/* /Popup notifications */


/* Dialog */
.container{
    position: relative;
    background: white;
    width: 50%;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);
    margin: auto;
    top: 50px;
    height: 800px;
    padding: 10px;
    background: rgb(255, 89, 89);

}

.started_dialogues{
    position: relative;
    float: left;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
    background: white;
    margin: 0px;
    overflow:scroll;
    overflow-x:hidden;
}

.started_dialogues::-webkit-scrollbar {
    width: 12px;
}

.current_dialog{
    position: relative;
    float: right;
    min-width: 69%;
    height: 100%;
    background: white;
    margin: 0px;
}

.header_cur_dialog{
    position: relative;
    float: top;
    height: 5%;
    background: rgb(255, 89, 89);
    margin: 5px;
}

.send_message_container{
    position: absolute;
    bottom: 0;
    background: rgb(255, 89, 89);
    height: 10%;
    width: 100%;
}

/* Started dialogues */
.dialog{
    display: block;
    position: relative;
    height: 70px;
    width: 400px;
    color: rgb(255, 89, 89);
    border-bottom: 1px solid rgb(255, 89, 89, 0.3);
}

.dialog img{
    height: 90%;
    margin: 3px;
    margin-top: 4px;
}

.last_message{
    position: relative;
    bottom: 50px;
    left: 70px;
    color: black;
    height: 20px;
}

.link_started_dialogues{
    width: 100%;
    height: 15px;
}

.fullname{
    position: relative;
    bottom: 65px;
    left: 70px;
}
/* /Started dialogues */


/* header_cur_dialog */
.online-status{
    display: inline-block;
    color: white;
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
}

.header_fullname{
    display: inline-block;
    color: white;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
/* /header_cur_dialog */

/* Send message */
.textareaElement {
  font-size: 16px;
  font-family: Bombardier;
  resize: none;
  width: 500px;
  min-height: 70px;
  border: 1px solid #ccc;
  max-height: 70px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  border: none;
  padding: 4px;
  display: block;
  position: relative;
  top: 7px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.textareaElement:focus{
    border: none;
    outline: none;
}

.send_message_image{
    position: relative;
    top: 5px;
    left: 3px;
    height: 40px;
}

.send_message_btn{
    position: relative;
    bottom: 50px;
    right: 10px;
    float: right;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.send_message_btn:hover{
    background: rgb(255, 89, 89, 0.4);
}
/* /Send message */

/* Messages */
.messages{
    height: 84%;
    overflow:scroll;
    overflow-x:hidden;

}

.messages::-webkit-scrollbar {
    width: 12px;
}

.message{
    position: relative;
    margin: 20px;
    max-width: 300px;
    background: rgb(255, 89, 89);
    word-wrap: break-word;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 10px;
    white-space: pre-line;
}

.message.my_message{
    float: right;
    clear: both;
    background: white;
}

.alien_message{
    float: left;
    clear: both;
}

.message.alien_message_{
    background: rgb(255, 89, 89, 0.3);

}


.fullname_alien_message{
    position: relative;
    left: 22px;
    top: 17px;
    color: rgb(255, 89, 89);
}

.none-messages{
    font-size: 40px;
    display: block;
    margin: auto;
    color: gray;
    position: relative;
    top: 25%;
    left: 25%;

}
/* /Messages */

/* /Dialog */

/* Unread message */
.message.my_message{
    box-shadow: 0px 16px 32px 0px rgba(66,170,255,0.4);
}

.message.my_message.unread_my{
    box-shadow: 0px 16px 32px 0px rgba(255,89,89,0.4);
}
/* /Unread message */



/* Unread dialog */
.count_unread_msg_alien{
    display: inline-block;
    background: rgb(255, 89, 89);
    padding: 5px 10px;
    color: white;
    position: relative;
    bottom: 80px;
    left: 240px;
    border-radius: 100%;
}

.dialog.unread_dialog_alien{
    background: rgb(255, 89, 89, 0.2);
}

.dialog.unread_dialog_my{
    background: rgb(151, 151, 151, 0.2);
}

.count_unread_msg_my{
    display: none;
}
/* /Unread dialog */

.dialog{
    cursor: pointer;
}




