<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'styles/registr/registr.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/registr.js' %}"></script>

</head>
<body>

<!--Header-->
    <div class="header">
        <a href="main"><img src="{% static 'images/logo_2.png' %}"></a>
    </div>

<!--Register-->
    <div class="container">
        <div class="container_for_form">
            <p id="reg">Регистрация</p>
            <form method="POST" action="" novalidate id="myForm">
                {% csrf_token %}
                {{ form.as_p }}

                <a href="#" class="password-control"></a>

                <input type=submit id="submit" value=Зарегистрироваться disabled>
            </form>
        </div>
    </div>
</body>
</html>