<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Comrades</title>

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'styles/main/main.css' %}">

</head>

 <body>
    <div class="header">
        <div class="burger">
            <img src="{% static 'images/Burger.png' %}"/>
             <div class="menu_burger">
                <div class="title_menu">
                    <img src="{% static 'images/logo_menu.png' %}">
                    <img src="{% static 'images/Burger_menu.png' %}">
                </div>
                <div class="elements_menu">
                    {% if user.username %}
                        <a class="menu_link" href="{% url 'user_profile' user.username %}">Профиль</a>
                    {% endif %}
                    <a class="menu_link" href="{% url 'articles' %}">Публикации</a>
                    <a class="menu_link" href="{% url 'comrades' %}">Товарищи</a>
                    <a class="menu_link" href="#">Сообщения</a>
                    <a class="menu_link" href="#">Комнаты</a>
                    <a class="menu_link" href="{% url 'exit' %}">Выйти</a>
                </div>
            </div>
        </div>

        <a href="main"><img id="logo" src="{% static 'images/logo.png' %}"></a>

        <div class="navbar">
            <a href="https://vk.com/7b5l21ya">Поддержка</a>
            <a href="https://vk.com/7b5l21ya">Контакты</a>
        </div>

        <div class="dropdown">
              {% if user.is_authenticated %}
                        <button class="dropbtn">{{ request.user }}</button>
                        <div class="dropdown-content">
                            <a href="{% url 'exit' %}">Выйти</a>
                        </div>
                  {% else %}
                        <button class="dropbtn">Войти</button>
                        <div class="dropdown-content">
                            <a href="{% url 'login' %}">Войти</a>
                            <a href="{% url 'reg' %}">Регистрация</a>
                        </div>
                {% endif %}
        </div>

        <!--Notifications-->
        {% if user.is_authenticated %}
            <div class="notifications">
                {% if count_friend_requests %}
                    <button onclick="show_notifications()" class="notifications_btn">Уведомления <p class="total_notif">{{ count_friend_requests }}</p></button>
                {% else %}
                    <button onclick="show_notifications()" class="notifications_btn">Уведомления <p class="total_notif">0</p></button>
                {% endif %}
                <div id="notif_content"  class="notifications-content hide">
                    {% if Receivers %}
                        {% for fr_req in Receivers %}
                            <div class="friend_request_notification" id="notif_{{ fr_req.friend_request_id }}">
                                <a href="{% url 'user_profile' fr_req.receiver_username %}"><img height="100" id="receiver_avatar" src="/media/{{ fr_req.receiver_avatar }}"></a>

                                <p id="title_friend_request">Отправлен запрос на дружбу!</p>
                                <p class="sender_username" style="display: none">{{ fr_req.sender_username }}</p>
                                {% if fr_req.receiver_last_name %}
                                    <p id="description_friend_request">{{ fr_req.receiver_first_name }} {{ fr_req.receiver_last_name }}<br>Хочет стать вашим товарищем</p>
                                {% else %}
                                    <p id="description_friend_request">{{ fr_req.receiver_username }}<br>Хочет стать вашим товарищем</p>
                                {% endif %}

                                <a href="#" id="accept_{{ fr_req.friend_request_id }}" class="friend_request_btn">Добавить</a>
                                <a href="#" id="cancel_{{ fr_req.friend_request_id }}" class="friend_request_btn">Отмена</a>

                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="none_notif">Сегодня уведомлений не было замечено</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <!--/Notifications-->

    </div>

    <div class="preview">
        <img src="{% static 'images/social.png' %}"/>
        <div>
            <a href="#">Только в команде можно добиться успеха</a>
        </div>
    </div>


    <div class="description_site">
        <p>
            Сайт рассчитан на программистов, которые жаждут творческой ревности и конструктивной критики, не лишённой крошки юмора. Ищите товарищей для совместного развития, ищите друзей. Ну а мы вам поможем!
        </p>
    </div>

    <div class="content">
        <div class="main_title_pub">
            <p>Последние публикации товарищей:</p>
        </div>

        <div class="user_public">
            <div class="pub_title">
                <a href="{% url 'user_article' article.id %}">{{ article.title }}</a>
            </div>

            <div class="pub_content">
                <p>{{ article.content }}</p>
            </div>

            <div class="pub_likes">
                <div class="comments">
                    <a href="#"><img src="{% static 'images/comments.png' %}"></a>
                    <p id="total_comm">{{ article.likes.count }}</p>
                </div>

                <div class="likes">
                      <a href="#"><img src="{% static 'images/likes.png' %}"></a>
                    <p id="total_likes">{{ count_comments }}</p>
                </div>
            </div>

        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/notifications.js' %}"></script>
<script src="{% static 'js/comrade_notifications.js' %}"></script>
 <script src="{% static 'js/online.js' %}"></script>
</body>
</html>