<!DOCTYPE html>
<html lang="en">
<head>

    {% block tags %}{% endblock %}

    <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>


    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block style %}{% endblock %}
</head>

<body>
    {% block content%}
    {% endblock %}



    {% block scripts %}
    {% endblock %}
</body>
</html>




<!--css-->
<!--*::before{-->
<!--  pointer-events: none;-->
<!--}-->

<!--*{-->
<!--    margin: 0px;-->
<!--    padding: 0px;-->
<!--}-->

<!--body{-->
<!--    font-family: Bombardier;-->
<!--}-->

<!--/*Header*/-->
<!--.header{-->
<!--    display: inline-block;-->
<!--    height: 50px;-->
<!--    width: 100%;-->
<!--    background: rgb(255, 89, 89);-->
<!--}-->

<!--.burger{-->
<!--    display: inline-block;-->
<!--    background: white;-->
<!--    height: 50px;-->
<!--}-->


<!--.logo{-->
<!--    position: relative;-->
<!--    display: inline-block;-->
<!--    vertical-align: middle;-->
<!--    bottom: 15px;-->
<!--    left: 20px;-->
<!--}-->


<!--.logo a{-->
<!--    display: inline-block;-->
<!--    vertical-align: middle;-->
<!--}-->


<!--.navbar{-->
<!--    position: relative;-->
<!--    display: inline-block;-->
<!--    float: right;-->
<!--    right: 300px;-->
<!--    top: 15px;-->
<!--}-->


<!--.navbar a{-->
<!--    color: white;-->
<!--    font-size: 20px;-->
<!--    text-decoration: none;-->
<!--    margin-left: 50px;-->
<!--}-->


<!--    /* Dropdown */-->
<!--.dropdown {-->
<!--  position: relative;-->
<!--  display: inline-block;-->
<!--  float: right;-->
<!--  right: -100px;-->
<!--}-->

<!--.dropbtn{-->
<!--    font-family: Bombardier;-->
<!--    font-size: 20px;-->
<!--    color: rgb(255, 89, 89);-->
<!--    background: white;-->
<!--    border: none;-->
<!--    padding: 15px;-->
<!--}-->


<!--.dropdown-content {-->
<!--  display: none;-->
<!--  position: absolute;-->
<!--  background-color: #f1f1f1;-->
<!--  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);-->
<!--  z-index: 1;-->
<!--}-->


<!--.dropdown-content a {-->
<!--  color: rgb(255, 89, 89);-->
<!--  padding: 12px 16px;-->
<!--  text-decoration: none;-->
<!--  display: block;-->
<!--}-->


<!--.dropdown-content a:hover{-->
<!--    background-color: #ddd;-->
<!--}-->


<!--.dropdown:hover .dropdown-content{-->
<!--    display: block;-->
<!--}-->


<!--.dropdown:hover .dropbtn{-->
<!--    border-bottom: 1px solid rgb(255, 89, 89);-->
<!--}-->



<!--    /* Menu */-->
<!--.menu{-->
<!--    position: absolute;-->
<!--    display: block;-->
<!--    height: 100%;-->
<!--    width: 25%;-->
<!--    box-shadow: 0px 0px 50px rgba(0, 0, 0, .4);-->
<!--    float: left;-->
<!--    top: 0px;-->
<!--    background: white;-->
<!--    z-index: 1;-->
<!--}-->


<!--.menu-header{-->
<!--    display: inline-block;-->
<!--    height: 50px;-->
<!--    width: 100%;-->
<!--    background: rgb(255, 89, 89);-->
<!--}-->


<!--.menu-header img{-->
<!--    position: relative;-->
<!--}-->

<!--.menu-header img:first-child{-->
<!--    position: relative;-->
<!--    left: 15px;-->
<!--    top: 10px;-->
<!--}-->


<!--.menu-header img:last-child{-->
<!--    position: relative;-->
<!--    float: right;-->
<!--    right: 10px;-->
<!--    top: 5px;-->
<!--}-->


<!--.menu_link{-->
<!--    display: flex;-->
<!--    text-decoration: none;-->
<!--    color: rgb(255, 89, 89);-->
<!--    font-size: 30px;-->
<!--    padding: 15px;-->
<!--}-->


<!--    /* Menu Hover */-->
<!--.menu_link:hover {-->
<!--    margin-left: 15px;-->
<!--    transition: margin .4s;-->
<!--}-->


<!--.menu_link:not(:hover) {-->
<!--    transition: margin .4s;-->
<!--}-->


<!--.burger:not(:hover) .menu{-->
<!--    left: -500px;-->
<!--    transition: left .4s;-->
<!--}-->


<!--.burger:hover .menu{-->
<!--   left: 0px;-->
<!--   transition: left .4s;-->
<!--}-->

<!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->









